@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

.card {
  width: 350px;

  & > img {
    width: 100%;
    border-radius: 10px;
  }

  & > h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 17px;
    color: #000;
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
  }

  .description {
    width: 204px;
    font-family: Lora, Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 17px;
    color: #000;
    margin: 7px auto;
    text-align: center;
  }

  .client {
    margin: 7px auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 12px;
    color: #000;
    text-transform: uppercase;
    text-align: center;
  }
}
